html
  head
    title New Timeline Entry
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='/public/style.css')
  body
    h3 New Timeline Entry
    h4 Hello #{username}
    form(action='/api/cms/newtlentry', method='post')
        div
          label Date:
          input(type='date', name='date_of_the_news', required="")
        div
          label Text:
          input(type='text', name='text_of_timeline', required="")
        div
          label Source:
          input(type='text', name='source', required="")
        div
          label Link for the news:
          input(type='url', name='link_news', required="")
        div
          label Tags:
        ul
          each item in tags
            div
              input(type='checkbox', name='tags', value=item)
              label(for=item) #{item}
        div
          label Author:
          input(type='text', name='author', value=username, required="", readonly)
        div
          input(type='submit', value='Submit')
    a(href='/logout') Logout