html
  head
    title Timeline Edit
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='/public/style.css')
  body
    h3 Timeline Edit
    h4 Hello #{username}
    form(action='/api/cms/tledit', method='post')
        div
          label Date:
          input(type='date', name='date_of_the_news', value=data.date_of_the_news, required="")
        div
          label Text:
          input(type='text', name='text_of_timeline', value=data.text_of_timeline, required="")
        div
          label Source:
          input(type='text', name='source', value=data.source, required="")
        div
          label Link for the news:
          input(type='url', name='link_news', value=data.link_news, required="")
        div
          label Tags:
            div
              ul
                each item in tags
                  div
                    input(type='checkbox', name='tags', value=item, checked=(item===data.tags ? "checked" : undefined))
                    label(for=item) #{item}
        div
          label Author:
          input(type='text', name='author', value=data.author, required="", readonly)
        div
          input(type='submit', value='Submit')
    a(href='/logout') Logout